<!-- people/templates/personnel_officer_storekeeper.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Панель кадровика</title>
</head>
<body>
    <h1>Панель кадровика</h1>
    <h2>Кладовщики</h2>
    <ul>
        {% if storekeepers %}
            {% for storekeeper in storekeepers %}
                <li>
                    <form method="post" action="{% url 'edit_storekeeper' storekeeper.id %}">
                        {% csrf_token %}
                        <p>Имя: {{ storekeeper.name }}</p>
                        <a href="{% url 'edit_storekeeper' storekeeper.id %}">Редактировать</a>
                        <a href="{% url 'delete_storekeeper' storekeeper.id %}" onclick="return confirm('Вы действительно хотите удалить учетчика {{ storekeeper.name }}?')">Удалить</a>

                        <p> </p>
                    </form>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <a href="{% url 'add_storekeeper' %}">Добавить кладовщика</a>
    <p> </p>
    <a href="{% url 'personnel_officer_dashboard'%}">Назад</a>
</body>
</html>

