<!-- people/templates/personnel_officer_hard_worker.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Панель кадровика</title>
</head>
<body>
    <h1>Панель кадровика</h1>
    <h2>Работяги</h2>
    <ul>
        {% if hard_workers %}
            {% for hard_worker in hard_workers %}
                <li>
                    <form method="post" action="{% url 'edit_hard_worker' hard_worker.id %}">
                        {% csrf_token %}
                        <p>Имя: {{ hard_worker.name }}</p>
                        <a href="{% url 'edit_hard_worker' hard_worker.id %}">Редактировать</a>
                        <a href="{% url 'delete_hard_worker' hard_worker.id %}" onclick="return confirm('Вы действительно хотите удалить учетчика {{ hard_worker.name }}?')">Удалить</a>

                        <p> </p>
                    </form>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <a href="{% url 'add_hard_worker' %}">Добавить работягу</a>
    <p> </p>
    <a href="{% url 'personnel_officer_dashboard'%}">Назад</a>
</body>
</html>
